.mat-mdc-slide-toggle.mat-warn {
  --mdc-switch-selected-track-color: rgb(236, 19, 236);
  --mdc-switch-selected-handle-color: rgb(236, 12, 12);
  --mdc-switch-selected-hover-track-color: rgb(236, 19, 236);
  --mdc-switch-selected-hover-handle-color: rgb(236, 12, 12);
  --mdc-switch-selected-focus-track-color: rgb(236, 19, 236);
  --mdc-switch-selected-focus-handle-color: rgb(236, 12, 12);
  --mdc-form-field-color: green;
}
