.centered-container {  
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
  text-align: center;
  /* Ajusta la altura como desees */
}


h1 {
  color: #1565c0;
  /* Color de texto, un tono oscuro de azul */
}